/* Template CSS File */

@font-face {
  font-family: 'Roboto';
  src: url('./font/Roboto-Regular.ttf');
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

header {
  font-size: 1.5rem;
  text-align: center;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  text-align: center;
}
